body{
    background-image: url(images/slide1.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: verdana;
    margin: auto;
    color: white;
}
#img1{
    float: left;
    margin-right: 10px;
}